@import "../../../styl/constant.styl"
.history-table
  min-width 50%
  margin 0 -8px
  tr:hover
    background $color-hover-bookmark
  td:nth-child(1)
    font-weight bold
  td:nth-child(2)
    text-align right
  td
    width 50%
    padding 5px 8px