doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel="icon" href="./img/favicon.ico")
        title Maxim Lipatov

    body
        h4(name='app-name') Release date: 2018.01.25 16:09:16
        #rootEl

