.row
  height 30px
  position relative
  background: linear-gradient(to right, rgba(167,199,220,0.3) 0%,rgba(133,178,211,0.3) 100%);
  &>li
    position absolute
.it
  background #bfe1ff
  overflow hidden
  height 100%
  &>div>div:nth-child(1)
    font-size 12px
    position absolute
    left 0
    top 0
  &>div>div:nth-child(2)
    font-size 12px
    position absolute
    right 0
    bottom 0
.margin-5-0
  margin 5px 0