.relative
  position relative
  padding  8px 0
  overflow hidden
.absolute
  position absolute
  top 0
  padding 8px 0
.arrow
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #3b679e;
  margin 0 auto