@import "../../../styl/constant.styl"

.container
  padding 8px
  margin-bottom 15px
  $box-shadow()
@media print
  .container
    box-shadow none
    border-bottom 2px solid gray
.row
  margin-left -8px
  margin-right -8px
  display flex
  margin-top 8px
  margin-bottom 8px
  &>div
    padding 0 8px
  &>div:nth-child(1)
    width 30%
    font-weight bold
    text-align right
  &>div:nth-child(2)
    width 70%
.date-container
  display flex
  &>div
    margin-right 8px
.list>li
  list-style disc
  margin-left 20px
.img
  float right
  width 40%
  box-shadow inset 0 0 1em black;
  &>img
    max-width 100%
    height auto
@media print
  .img
    display none
    float right
    width 40%
    box-shadow inset 0 0 1em black;
    &>img
      max-width 100%
      height auto