@import "../../styl/constant.styl"
.component
  padding 20px
  overflow-y auto
  li
    list-style none
  button
    padding 8px 15px
    text-align center
    min-width 120px
    background $color-background-button
    border none
    outline none
    cursor pointer

.relative
  position relative
