:global
  *
    margin 0
    padding 0
  html, body
    height 100%
  body
    background #c6c8cb
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  #rootEl
    height 100%
  .flex
    display flex
  .margin-0-8
    margin 0 8px



.content
  background white
  margin 0 auto
  max-width 800px
  min-height 100%