:global
  *
    margin 0
    padding 0
    box-sizing border-box
  html, body
    height 100%
  body
    background #c6c8cb
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  #rootEl
    height 100%
  .flex
    display flex
  .margin-0-8
    margin 0 8px
  .fade-enter
    opacity 0
    &.fade-enter-active
      opacity 1
  .fade-exit
    transition opacity 0.5s
    position absolute
    width 100%
    top 0
    left 0
    opacity 1
    &.fade-exit-active
      opacity 0
.content
  background white
  margin 0 auto
  max-width 800px
  min-height 100%


