.title
  padding 25px
  background black
  color white
  position relative

  img
    width 30px
    height 30px
  h2
    padding-left 20px
    text-shadow 0 0 10px white, 20px 0 40px white, -20px 0 40px white
.version
  position absolute
  right 0
  bottom 0
  padding 8px
  font-size 12px